/* commented backslash hides from ie5mac \*/
html{
	height:100%;
	margin:0;
	padding:0
} 
/* end hack */ 
html,body {
	padding:0;
	margin:0;
        background-color: #63ab23;
	font-size: 13px;
	font-family: "Trebuchet MS", verdana, sans-serif;
}
body{
	text-align:justify;
	min-width:776px;/* for mozilla*/
        background-color: #63ab23;
	height:100%;
        background:  url(images/bg_4x818.jpg) repeat-x left top;
}
#wrapper {
	background:  url(images/foot_4x200.jpg) repeat-x left bottom; /*FIXED for 200px height*/
	_height: 82px;
}

#outer{
	height: 100%; /*99.9%;*/
	min-height:100%;
	width:776px;
	text-align:left;
	margin:auto;
	position:relative;
	overflow:visible; 
        background:  url(images/inner_776x1.jpg) repeat-y left top;
}


/* mac hide \*/
* html #outer{
	width:776px
}
/* end hide*/

html>body #outer{
	height:auto;
} /*for mozilla as IE treats height as min-height anyway*/

#inner{
	width:100%;
	padding-top:75px;/*needed to make room for header*/
} 

#header{
	position:absolute;
	top:0px;
	left:0px;
	width:776px;
	height:75px;
	z-index:76;
	background:  url(images/lemon-header.png) no-repeat left top;

}


#logo {
	position:absolute;
	top:5px;
	left:0px;
	width:300px;
	height:70px;
	text-indent: -5000px;
	z-index:300;
	background: transparent; /*url(images/logo_237x63.gif) no-repeat left top;*/
}
/* mac hide \*/
* html #outer, * html #header {width:780px}
/* end hide*/

#footer {
	color: white;
	width:776px;
	clear:both;
	height:200px;  /*FIXME 255*/
	text-align:left;
        position: relative;
	left:0px;
	bottom:0px;
        background: #ff6800; /*url(images/foot_776x82_2.jpg) no-repeat left top;*/
}

#footer p {
	margin-top: 10px;
        text-align:left;
}

/* MCH: Falta el color para las ligas visitadas... y las... */
#footer p a {
	text-decoration: none;
        color: white;
/*         font-weight:bold; */
}

* html #footer{
	margin-bottom:-1px
}/* ie rounding bug*/

/* mac hide \*/
* html #footer {
	/*only ie gets this style*/
	height:82px;
	/* for ie*/
}
/* end hide*/

div,p  {
	margin-top:0px;
        font-size: 13px;
        font-family: "Trebuchet MS", verdana, sans-serif;
}/*clear top margin for mozilla*/

#right {
	width:206px;
	float:right;
	z-index: 55;
}
#right-inner {
	width: 175px;
/* 	padding-left: 9px; */ 
        margin-right:9px;
        margin-left:9px;
	text-align: left;
}
#right-inner h2 {
	font-size: 16px;
        color:Yellow;
        /*         font-style:italic; */
}
#left {
	position:relative;/*ie needs this to show float */
	width:563px;
	float:left;
	padding-left: 7px;
	z-index: 56;
}
#left-inner {
	padding-left: 9px;
	padding-right: 9px;
	text-align: left;
}
#clearfooter {
	width:100%;
	height:50px;
	clear:both;
} /* to clear footer */

html>body #minHeight{
	float:left;
	width:0px;
	height:100%;
	margin-bottom:-82px;
} /*safari wrapper */
#content {
        color:white;
	z-index: 300;
	padding-bottom: 7px;
        padding-top:7px;
        text-align:justify;
}




#content h2 {
	font-size: 16px;
	color: yellow;
	background:  url(images/bullet-17x13.png) no-repeat left top;
	padding-left: 19px;
	line-height: 24px;
	position: relative;
	z-index: 999;
}

#content h1 {
  color:#cbf858;
}

h3#post-  {
	font-size: 14px;
	color: #618200;
	background:  url() no-repeat left top;
	padding-left: 0px;
}

#content p {
	font-size: 13px;
        text-align:justify;
	color: white;
        margin-top:5px;
	line-height: 18px;
	_line-height: 16px;
}

#content p a {
	color: #ecef78; /*rgb(0,100,0);*/
}

#content p a:hover {
	background-color: transparent;/*#618200;*/
        color: #0a5915;
}


#footer p {
	padding: 8px;
}





.FSF_searchResults {
	font-size: 13px;
	color: #444444;
	line-height: 18px;
	_line-height: 16px;
}


.FSF_extract {
	font-size: 13px;
	color: #444444;
	line-height: 18px;
	_line-height: 16px;
}


.FSF_resultLink {
	color: #618200;
}

.FSF_extract {
	font-size: 13px;
	color: #444444;
	line-height: 18px;
	_line-height: 16px;
}

.highlight {
	font-size: 13px;
	background-color: #f2f2f2;
	color: #618200;
	font-weight: bold;
	line-height: 18px;
	_line-height: 16px;

}

img {
	border: dotted 1px #444444;
}

#content ul li{
	list-style-image: url(images/bullet-11x9.png);
	margin-bottom: 0.5em;
	font-size: 110%;
}

.LIn_shortMode {
	list-style-type: none;
	margin: 0;
	padding: 0;

}

.LIn_desc {
	display: none;
}
.LIn_date {
	font-style: italic;
	margin-left: 5px;
}

#content a, #sidebar a
{
        color: #ecef78;  /*#435102;*/ /*rgb(0, 100, 0);*/
}

#content a:hover, #sidebar a:hover
{
    background-color: transparent; /*rgb(97, 130, 0);*/
    color: #0a5915; /*rgb(255, 255, 255);*/
}

#sidebar {padding-top:10px;}  /*MCH*/

/* MODx Icons
------------------------------------------------------------------------------- */

#lemontag {
  position:relative;
  top: 50px;
  height: 100px;
  width: 123px;
  margin: 0 auto;
  text-align: center;
  float: left;
  margin-top: 0px;
  
}

#lemontag a#lemontag32 {
  margin: 0 auto;
  width: 123px;
  height: 100px;
  display: block;
  text-indent: -2000px;
  text-align: center;
  overflow: hidden;
  background: transparent url(images/lemontag.png) no-repeat 0 0;
    
}

#lemontag a { /*#lemontag32:hover*/ 
  background: transparent url(images/lemontag.png) no-repeat 0 -32px;
  color: #111;
}

#lemontag a, #lemontag a:visited, #lemontag a:hover {
  background: transparent;
  border: 0;
  
  text-decoration: none;
}

.stylebox {background-color: #F7F7F7; border: 1px solid #A0A0A0; padding: 5px;}
.hide {display: none;}


#getitnow  { 
/*   width:190px; */
/*   height:200px; */
  margin: 0px;
  padding: 0px;
  text-align:center;
}
#getitnow a {
  top:0px;
  margin: 0 auto;
  width: 190px;
  height: 190px;
  display: block;
  text-indent: -2000px;
  text-align: center;
  overflow: hidden;
  background: transparent url(images/caja.png) no-repeat 0 0;
}


#copyFooter {
    position:absolute;
    top:180px; /*FIXME 220*/
    width:90%;
    float:left;
    text-align:center;
    color:white;
    font-size: 11px;
}

#copyFooter a, #copyFooter a:visited {
    color:white;
    text-decoration:none;
}

#menuFooter {
  position:relative;
  top:20px;
  float:left;
  display: block;
  text-align: left;
  overflow: hidden;
  margin:5px;
  padding:5px;
  font-size:18px;
  font-weight:bold;
  font-style:italic;
/*   background:black; */
  margin-right:15px;
}

#menuFooter ul {
  padding:0px;
  margin:0px;
  padding-top:5px;
  padding-left:20px;
  margin-top:5px;
  margin-left:10px;
  margin-right:30px;
  text-decoration:none;
}

#menuFooter li {
  font-weight: bold;
  font-size:13px;
  list-style:none;
  font-style:normal;
  text-decoration:none;
}

#menuFooter a {
  color: white;
  margin-left:0px;
  text-decoration:none;
}

#menuFooter a:visited {
  border: 0;
  text-decoration: none;
  color: white;
}