<div id="lemontag"><h6><a href="http://lemonpos.org" title="LemonPOS, an open source point of sale" id="lemontag32">LemonPOS</a></h6></div>

<div id="menuFooter">General
<ul>
<li><a href="[(base_url)]screens">Screenshots</a></li>
<li><a href="[(base_url)]features">Features</a></li>
<li><a href="[(base_url)]doc#roadmap">Roadmap</a></li>
<li><a href="http://lemonpos.wordpress.com/">Development Blog</a></li>
</ul>
</div>

<div id="menuFooter">Documentation
<ul>
<li><a href="[(base_url)]doc#wiki">Wiki</a></li>
<li><a href="[(base_url)]doc#manuals">Printed Manuals</a></li>
<li><a href="[(base_url)]doc#videos">Videos</a></li>
</ul>
</div>

<div id="menuFooter">Get Involved
<ul>
<li><a href="[(base_url)]doc#tickets">Submit tickets</a></li>
<li><a href="[(base_url)]community#translate">Translate to your language</a></li>
<li><a href="[(base_url)]community#writedocs">Write Documentation</a></li>
<li><a href="[(base_url)]doc#mailinglist">Mailing list</a></li>
</ul>
</div>

<div id="copyFooter"><a href="http://www.lemonpos.org/" title="Designed by Miguel Chavez Gamboa">Site Design &copy; 2010
Miguel Ch&aacute;vez Gamboa</a>
</div>