<!DOCTYPE kpartgui>
<kpartgui version="10" name="iotpos">
 <MenuBar>
  <Menu noMerge="1" name="file">
   <text>&amp;File</text>
   <Action name="file_quit"/>
  </Menu>
  <Menu noMerge="1" name="settings">
   <text>&amp;Settings</text>
   <Merge name="StandardToolBarMenuHandler"/>
   <Merge name="KMDIViewActions"/>
   <Action name="options_show_statusbar"/>
   <Separator weakSeparator="1"/>
   <Action name="options_configure_keybinding"/>
   <Action name="options_configure_toolbars"/>
   <Action name="options_configure"/>
  </Menu>
  <Separator weakSeparator="1"/>
  <Menu noMerge="1" name="help">
   <text>&amp;Help</text>
   <Action name="help_contents"/>
   <Action name="help_whats_this"/>
   <Separator weakSeparator="1"/>
   <Action name="help_report_bug"/>
   <Separator weakSeparator="1"/>
   <Action name="switch_application_language"/>
   <Separator weakSeparator="1"/>
   <Action name="help_about_app"/>
   <Action name="help_about_kde"/>
  </Menu>
 </MenuBar>
 <ToolBar name="aBasicToolBar">
  <text>Basic Use Toolbar</text>
  <Action name="startOperation"/>
  <Action name="enterCode"/>
  <Action name="deleteSelectedItem"/>
  <Action name="payFocus"/>
  <Action name="cancelTransaction"/>
  <Action name="cashOut"/>
  <Action name="endOfDay"/>
  <Action name="balance"/>
  <Action name="file_quit"/>
  <Action name="showCredits"/>
  <Action name="cashAvailable"/>
  <Action name="cashIn"/>
  <Action name="specialOrder"/>
  <Action name="specialOrderComplete"/>
  <Action name="makeReservation"/>
  <Action name="resumeReservation"/>
  <Action name="addReservationPayment"/>
 </ToolBar>
 <ToolBar noMerge="1" name="adminToolBar">
  <text>Administrator's Toolbar</text>
  <Action name="suspendSale"/>
  <Action name="resumeSale"/>
  <Action name="showPriceChecker"/>
  <Action name="reprintTicket"/>
  <Action name="options_configure"/>
  <Action name="cancelTicket"/>
  <text>Administrator's Toolbar</text>
  <Action name="lockScreen"/>
  <Action name="login"/>
 </ToolBar>
</kpartgui>
