[Desktop Entry]
Encoding=UTF-8
Name=iotpos
Exec=iotpos%i -caption "%c"
Icon=iotpos
Type=Application
DocPath=iotpos/iotpos.html
GenericName=iotpos Point of sale
Terminal=0
GenericName[en_US]=Iot Point of Sale
Name[en_US]=lemon.desktop
